.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f2f2f2;
    color: #333;

    padding-top: 1px;

    img {
        max-width: abs($number: 1);
        height: auto;
        width: 100%;
    }

}